version: '2'
services:
  mariadb:
    image: bitnami/mariadb:latest
    volumes:
      - /home/core/data/mariadb:/bitnami/mariadb
  wordpress:
    image: bitnami/wordpress:latest
    depends_on:
      - mariadb
    environment:
      - WORDPRESS_USERNAME=$USERNAME
      - WORDPRESS_PASSWORD=$PASSWORD
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - /home/core/data/wordpress:/bitnami/wordpress
      - /home/core/data/apache:/bitnami/apache
      - /home/core/data/php:/bitnami/php
